
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">

                            <li>
                                <a href="https://appseed.us/admin-dashboards/django-dashboard-light">
                                    App Info
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/app-generator/django-dashboard-light">
                                    Sources
                                </a>
                            </li>

                        </ul>
                        <p class="copyright text-center">
                            &copy; 
                            <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard">Creative Tim</a>, 
                            Coded in Django by AppSeed
                        </p>
                    </nav>
                </div>
            </footer>

