{% extends 'layouts/base.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Register</h4>

                        {% if msg %}
                            <p>{{ msg | safe }}</p>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <form method="post" action="">
                            
                            {% csrf_token %}

                            <div class="row">

                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.username }}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <span class="text-error">{{ form.username.errors }}</span>
                            </div>

                            <div class="row">

                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>eMail</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <span class="text-error">{{ form.email.errors }}</span>
                            </div>

                            <div class="row">

                                <div class="col-md-1 pl-1">
                                    <div class="form-group">
                                        <label>Password</label>
                                    </div>
                                </div>

                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        {{ form.password1 }}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <span class="text-error">{{ form.password1.errors }}</span>
                            </div>

                            <div class="row">

                                <div class="col-md-1 pl-1">
                                    <div class="form-group">
                                        <label>Pass Check</label>
                                    </div>
                                </div>

                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        {{ form.password2 }}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <span class="text-error">{{ form.password2.errors }}</span>
                            </div>

                            <input type='submit' name='submit' value='Register' class="primary"/> or <a href="{% url 'login' %}" >Login</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
          