<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Favicon - loaded as static -->
    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon" type="image/png">

    <title>
        Django Dashboard Light - {% block title %} Open-Source Admin Panel {% endblock %} | AppSeed
    </title>
    
    <meta name="description" 
          content="Admin Panel with Light Design crafted by Creative-Tim coded in Django Web Framework - SQLite database, native ORM and authentication.">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    <!-- CSS Files -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" />

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
        
</head>

<body>

    <div class="wrapper">

        {% include 'includes/sidebar.html' %}

        <div class="main-panel">

            {% include 'includes/navigation.html' %}

            {% block content %}{% endblock content %}

            {% include 'includes/footer.html' %}
    
        </div>

    </div>

</body>

{% include 'includes/scripts.html' %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

</html>